@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Open+Sans&family=Quicksand&family=Raleway&display=swap");

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

main.active,
.home.active,
.food.active,
footer.active {
  filter: blur(20px);
  cursor: none !important;
  transition: 0.3s all ease;
}

main {
  background-image: url(../Assets/Images/backgroundLanding.jpg);
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  position: relative;
}

.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}

.home img {
  width: 500px;
  margin-right: 100px;
  margin-top: 40px;
}

.home .content {
  width: 450px;
  color: white;
  margin-right: 40px;
}

.home h1 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  letter-spacing: 2px;
}

.home p {
  font-family: "Montserrat", sans-serif;
}

.home button,
.offer .content button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(224, 18, 18);
  color: white;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s all ease;
}

.home button:hover {
  cursor: pointer;
  background-color: rgb(186, 13, 13);
  transition: 0.3s all ease;
}

.custom-shape-divider-bottom-1707317498 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707317498 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 33px;
}

.custom-shape-divider-bottom-1707317498 .shape-fill {
  fill: #ffffff;
}

.food {
  min-height: 100vh;
  margin-bottom: 100px;
}

.menu {
  background-color: white;
  min-height: 100vh;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.offers h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0;
}

.offers-row {
  width: 1300px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.offer {
  width: 600px;
  height: 200px;
  background-color: red;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.offer .image {
  border-radius: 50%;
  border: 6px solid #ffbe33;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.offer .image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.offer .image img:hover {
  transform: scale(1.2);
}

.offer .content {
  width: 300px;
  color: white;
}

.offer .content h1 {
  text-align: start;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: normal;
}

.offer .content p {
  margin-top: 0;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.offer .content button {
  background-color: #ffbe33;
  border-radius: 20px;
}

.offer .content button:hover {
  cursor: pointer;
  background-color: #f0a503;
  transition: 0.3s all ease;
}

.menu {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0;
}

.menu .categories {
  display: flex;
  flex-direction: row;
}

.menu .categories p {
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  padding: 7px 25px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.menu .categories p.active {
  background-color: red;
  color: white;
}

.items {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: SlideIn 0.4s ease;
}

@keyframes SlideIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.box .image {
  width: 350px;
  height: 200px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom: 10px solid #f0a503;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .image img {
  max-width: 70%;
  height: auto;
  transition: transform 0.2s ease;
}

.box .image img:hover {
  transform: scale(1.1);
}

.box .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.box h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.box .description {
  font-size: 16px;
  width: 300px;
  color: #555;
  color: white;
  font-family: "Raleway", sans-serif;
}

.box .prices {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.box .size {
  text-align: center;
}

.box .size p {
  margin: 0;
  font-size: 16px;
  color: white;
  font-family: cursive;
}

.popup-container {
  width: 300px;
  height: 150px;
  background-color: #f0a503;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup.active {
  display: block;
}

.popup-container i {
  position: relative;
  top: -30px;
  left: 130px;
  font-size: 20px;
  transition: 0.3s all ease;
}

.popup-container i:hover {
  color: white;
  cursor: pointer;
  transition: 0.3s all ease;
}

.popup-container p {
  font-size: 15px;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

@media (width <= 600px) {
  html, body {
    overflow-x: hidden;
  }
  main {
    width: auto;
    min-height: 100vh; 
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }
  .home img {
    width: 300px;
    margin: 0;
  }
  .home .content {
    padding-top: 50px;
    width: 300px;
  }

  .home button {
    color: rgb(186, 13, 13);
    font-weight: 900;
    background-color: rgb(255, 255, 255);
  }

  .offers {
    width: 400px;
    margin: 0 auto;
  }

  .offers-row {
    width: 400px;
    flex-wrap: wrap;
  }

  .offer {
    width: 350px;
    height: 150px;
  }

  .offer .image {
    width: 100px;
    height: 100px;
  }

  .offer .image img {
    width: 110%;
  }

  .offer .content h1 {
    font-size: 20px;
  }

  .offer .content p {
    font-size: 12px;
  }

  .offer .content button {
    width: 130px;
    height: 30px;
    font-size: 14px;
  }

  .offer .content {
    width: 200px;
  }

  .menu {
    width: 400px;
    margin: 0 auto;
  }

  .menu h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Dancing Script", cursive;
    margin-bottom: 0;
  }

  .menu .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .menu .categories p {
    padding: 0px 25px;
  }

  .items {
    width: 400px;
  }

  .box {
    width: 250px;
    height: 350px;
  }

  .box .image {
    width: 250px;
    height: 100px;
  }

  .box .image img {
    max-width: 50%;
  }

  .box h1 {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
  }

  .box .description {
    font-size: 14px;
    width: 200px;
    font-family: "Raleway", sans-serif;
  }

}

@media (600px < width <= 768px) {
  html, body {
    overflow-x: hidden;
  }
  main {
    width: auto;
    min-height: 100vh; 
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: 0 auto;
  }
  .home img {
    width: 500px;
    margin: 0;
  }
  .home .content {
    padding-top: 50px;
    width: 500px;
  }

  .home button {
    color: rgb(186, 13, 13);
    font-weight: 900;
    background-color: rgb(255, 255, 255);
  }

  .offers {
    width: 600px;
    margin: 0 auto;
  }

  .offers-row {
    width: 600px;
    flex-wrap: wrap;
  }

  .offer {
    width: 450px;
    height: 200px;
  }

  .offer .image {
    width: 150px;
    height: 150px;
  }

  .offer .image img {
    width: 110%;
  }

  .offer .content h1 {
    font-size: 25px;
  }

  .offer .content p {
    font-size: 14px;
  }

  .offer .content button {
    width: 150px;
    height: 40px;
    font-size: 16px;
  }

  .offer .content {
    width: 200px;
  }

  .menu {
    width: 600px;
    margin: 0 auto;
  }

  .menu h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Dancing Script", cursive;
    margin-bottom: 0;
  }

  .menu .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .menu .categories p {
    padding: 0px 25px;
  }

  .items {
    width: 600px;
  }

  .box {
    width: 250px;
    height: 350px;
  }

  .box .image {
    width: 250px;
    height: 100px;
  }

  .box .image img {
    max-width: 50%;
  }

  .box h1 {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
  }

  .box .description {
    font-size: 14px;
    width: 200px;
    font-family: "Raleway", sans-serif;
  }

}

@media (768px < width <= 992px) {
  html, body {
    overflow-x: hidden;
  }

  main {
    width: auto;
    min-height: 120vh;
  }
  
  .home {
    flex-direction: column-reverse;
    width: 700px;
    margin-top: 70px;
  }
  
  .home img {
    margin-right: 0;
  }
  
  
  .offers-row {
    width: 700px;
  }
  

  .menu {
    width: 700px;
  }
  
  .items {
    width: 700px;
  }
  
  .box {
    width: 250px;
    height: 350px;
  }
  
  .box .image {
    width: 250px;
    height: 100px;
  }
  
  .box .description {
    width: 200px;
  }

}

@media (992px < width <= 1350px) {
  html, body {
    overflow-x: hidden;
  }

  main {
    width: auto;
    min-height: 120vh;
  }
  
  .home {
    flex-direction: column-reverse;
    width: 900px;
    margin-top: 70px;
  }
  
  .home img {
    margin-right: 0;
  }
  
  
  .offers-row {
    width: 900px;
  }
  

  .menu {
    width: 900px;
  }
  
  .items {
    width: 900px;
  }
  
  .box {
    width: 350px;
    height: 450px;
  }
  
  .box .image {
    width: 350px;
    height: 200px;
  }
  
  .box .description {
    width: 300px;
  }

}
